<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>FrontControllerAdmin</servlet-name>
    <servlet-class>servletsAdmin.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontControllerAdmin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>servletsCliente.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/realizar-pedido</url-pattern>
    <url-pattern>/carrito</url-pattern>
    <url-pattern>/registro</url-pattern>
    <url-pattern>/entrantes/*</url-pattern>
    <url-pattern>/platos/*</url-pattern>
    <url-pattern>/bebidas/*</url-pattern>
    <url-pattern>/menus/*</url-pattern>
    <url-pattern>/postres/*</url-pattern>
    <url-pattern>/documentacion</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>Registro</servlet-name>
    <servlet-class>servletsCliente.Registro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro</servlet-name>
    <url-pattern>/Registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControlCarrito</servlet-name>
    <servlet-class>servletsCliente.ControlCarrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlCarrito</servlet-name>
    <url-pattern>/ControlCarrito</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>